:root {
	--color-1: black;
	--placeholderText: gray;
}

/* ------------ ELEMENTS ------------ */

main, section, div, form, nav {
	border: 1px solid gray;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	color: var(--placeholderText);
}

form {
	margin: 5px;
	border: 2px dashed;
	padding: 5px;
}

nav {
	position: sticky;
	top: 0;
	overflow: hidden;
	background-color: black;
}

nav a {
	display: inline-block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px;
	text-decoration: none;
}

h1 {
	text-align: center;
}

section {
	margin: 5px;
}

form {
	margin: 5px;
	border: 2px dashed var(--NIGHT);
	padding: 5px;
}

/* ------------ ELEMENT => CLASS ------------ */

/* ------------ CLASS ------------ */

.allWrong {
	border: 5px solid var(--whoKnows);
	background-color: var(--NIGHT);
	color: var(--DAY);
}

.shill {
	margin: 5px;
	border: 2px double var(--NIGHT);
	padding: 5px;
}

/* ------------ ID ------------ */

/* ------------ ID => ELEMENT ------------ */

#planetImg > img {
	border-radius: 50%;
	width: 25%;
	padding: 2px;
	/* position: static; */
	/* top: 50%; */
	/* left: 50%; */
	/* transform: translate(-50%, -50%); */
}

/* ------------ ID => CLASS ------------ */

#planet {
	width: 100%;
	display: grid;
	grid:
		"agencyName agencyName agencyName planetEmptyCorner" 1fr
		"planetInfoL planetImg planetImg planetInfoR" 1fr
		"planetInfoL planetImg planetImg planetInfoR" 1fr
		"planetName planetName planetName planetName" 1fr
		/ 1fr 1fr 1fr 1fr;
	gap: 8px;
	justify-items: center;
}
  
#agencyName { 
	grid-area: agencyName; 
	width: 100%;
}
#planetEmptyCorner {
	grid-area: planetEmptyCorner; 
	width: auto;
}
#infoLeft {
	grid-area: planetInfoL; 
	width: 100%;
	text-align: center;
}
#planetImg {
	grid-area: planetImg; 
	width: auto;
	text-align: center;
}
#infoRight {
	grid-area: planetInfoR; 
	width: 100%;
	text-align: center;
}
#planetName { 
	grid-area: planetName; 
	width: 100%;
	text-align: center;
}