:root {
	--color-1: black;
}

/* ------------ ELEMENTS ------------ */

main, main section, main div, main form { border: 1px solid gray; }

body {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}

form {
	margin: 5px;
	border: 2px dashed;
	padding: 5px;
}

nav {
	position: sticky;
	top: 0;
	overflow: hidden;
	width: 100%;
	max-width: 100vw;
	display: grid;
	grid-template-columns: 1fr minmax(50px, 50%)  minmax(50px, 25%);
	grid-template-rows: auto;
	background-color: var(--color-1);
	align-items: center;
	box-sizing: border-box;
}

nav div { padding: 5px; }

nav a {
	display: inline-block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px;
	text-decoration: none;
}

h1 { text-align: center; }

section { margin: 5px; }

form {
	margin: 5px;
	border: 2px dashed var(--NIGHT);
	padding: 5px;
}

/* ------------ CLASSES ------------ */

.allWrong {
	border: 5px solid var(--whoKnows);
	background-color: var(--NIGHT);
	color: var(--DAY);
}

.shill {
	margin: 5px;
	border: 2px double var(--NIGHT);
	padding: 5px;
}

/* ------------ IDs ------------ */

#links {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

#planetImg {
	border-radius: 50%;
	width: 25%;
	padding: 2px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#navBuffer { 
	width: 100%; 
	min-width: 50px;
}

#planetMenu { 
	width: auto; 
	display: flex;
	justify-content: end;
	white-space: nowrap;
}

#planetMenu * { margin: auto; }